# backup files
*.backup
# packer variable files
**/variables.json
**/*.vars.json
# terraform state files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
# gce backend for terraform
backend.conf
# terraform cache dir
.terraform/
# log files
**/*.log
# gce service account key & config for ansible
**/key.json
**/gce.ini
# ansible temp files
*.retry
# ansible community role
jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.pyc
.molecule
.cache


