app_port = 9292
create_loadbalancer = false
db_port = "27017"
disk_image_app = "reddit-app-base"
disk_image_db = "reddit-db-base"
instance_count_app = 1
private_key_path = "~/.ssh/appuser"
project = "your project id"
public_key_path = "~/.ssh/appuser.pub"
ssh_source_ranges = ["0.0.0.0/0"]
users_public_keys {
    "appuser1" = "~/.ssh/appuser1.pub"
    "appuser2" = "~/.ssh/appuser2.pub"
}
zone = "europe-west1-c"
